.DialogComponent {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .dialogContainer {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
    padding: 12px 22px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .dialogContent {
    width: 100%;
    overflow: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      margin-right: -5px;
      width: 4px;
      background: rgba(182, 182, 182, 0.3688);
    }
    &::-webkit-scrollbar-thumb {
      border: 2px solid rgba(182, 182, 182, 1);
      border-radius: 2px;
    }
    &.hideScroll {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .dialogTitle {
    font-size: 16px;
    font-weight: 600;
  }

  .closeIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
  }
}
