@font-face {
  font-family: "myfont";
  font-display: swap;
  src: url("global/font/webfont.woff2") format("woff2");
}

body {
  div {
    font-size: 40px;
    color: red;
    font-family: "myfont";
  }
}

img {
  width: 100px;
  display: inline-block;
}
